<div class="footer">
    <div class="footer-utilities">
        <ul>
            <li>Mobile app</li>
            <li>Comunity</li>
            <li>Company</li>
        </ul>
        <ul>
            <li>Help</li>
            <li>Blog</li>
            <li>Resources</li>
        </ul>
    </div>
    
    
    <div class="footer-icons">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-youtube"></i>
        <i class="bi bi-pinterest"></i>
        <i class="bi bi-instagram"></i>
    </div>

    <p>GO The Knitter-Shop 2023</p>
</div>