<nav class="navigator">
  <ul>
    <li>
      <a href="/products"> Productos</a>
    </li>
    <li>
      <a href="/">The Knitter-Shop</a>
    </li>
    <li>
       {{#if currentUser}}
          <a href="/logout">Log out</a>
          <a href="/profile">{{currentUser.firstName}}</a>
          {{else}}
          <a href="/signup">Sign up</a>
          <a href="/login">Log in</a>
        {{/if}}
    </li>
  </ul>
</nav>