.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 500px;
    padding: 50px;

}
.content2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}


.container-products {
    margin-top: 32px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 50px;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 32px;
   
}

.card{
    margin: 0 auto;
    width: 100%;
    max-height: 420px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #999
}

.container-profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
    overflow-y: scroll;
}


.card-img-top {
    /* height: 250px; */
    height:100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    object-position: center;
    filter: opacity(0.7);
    transition: filter .5s;
    
  }

  .card-img-top:hover {
    filter: none;
  }

.description {
    width: 50%;
    margin: 20px;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}

.description img {
    max-width: 100%;
    object-fit: cover;
}

.description i, span {
    font-size: 20px; 
    color:rgb(109 101 101)
}

.navigator {
    background-color: darkgray;
}

.navigator ul {
list-style-type: none;
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 0px;
}

.navigator li {
    display: flex;
}


.nav-link {
    color: rgb(109 101 101);
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}

.nav-link:hover {
    color: white;
}


.landing {
    width: 100%;
    height: 850px;
    background-image: url("../img/HomeImg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}
.landing div {
    position: absolute;
    margin-top: 300px;
    margin-left: 100px;
    width: 570px;
}
.landing a {
    background-color: #b5a26f;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    
}

.landing h1 {
    font-size: 70px;
}

.landing p {
    font-size: 20px;
}

.product-name {
    text-decoration: none;
    color: black;
    text-align: center;
}

.contenedor {
    width: 98%;
    margin: 0 auto;
}

.section-products {
    
    height: 500px;
}

.landing2 {
    width: 100%;
    height: 850px;
    background-image: url("../img/Pic2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.landing2 a {
    text-decoration: none;
    color: white;
    font-size: 70px;
    margin-left: 100px;
    position: absolute;
    margin-top: 300px;
}

.card-log {
    width: 60%;
    margin: 0 auto;
    border: 1px solid #b5a26f;
    margin-top: 100px;
    border-radius: 20px;
    padding: 68px;
    margin-bottom: 100px;
   background-color: white;
}

.card-log h1 {
    color: rgb(109 101 101); 
    text-align: center; 
    margin-bottom: 20px
}

.card-log h4 {
    text-align: center; 
    margin-bottom: 20px
}

.card-edit {
    display: flex;
    position: absolute;
    right: 0px;
}


body {
    background-color: #fdfcf9;
}

.footer {
    background-color: darkgray;
    align-items:  center;
    display: flex;
    flex-direction: column;
}
.footer-utilities {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    border-bottom: 1px solid black;
}
.footer ul {
list-style-type: none;
padding: 0;
display: flex;
justify-content: space-between;
flex-wrap: nowrap;
margin-bottom: 0px;
}

.footer li {
    margin: 30px;
    font-size: 18px;
}

.footer-icons {
    margin: 32px;
    justify-content: space-between;
}

.footer-icons i {
    font-size: 32px;
    margin: 16;
}

.card-log button {
    color: #fff;
    background-color: #b5a26f;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 20px;
    border-radius: 0.25rem;
    transition: background-color .5s;
    margin-top: 50px;
}

.google-log {
    background-color: #b5a26f;
    color: white;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 7px 10px;
    font-size: 20px;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: background-color .5s;
    display: inline-block;
    margin-top: 50px;
}

.google-log:hover {
    background-color: rgb(109 101 101);
    color:white
}

button:hover {
    background-color: rgb(203, 186, 186);
    color:white
}

.form-label {
    font-size: 24px;
    margin-bottom: 0;
}

.content-detail {
    display: flex;
    padding: 40px;
}

.btn-purchase{
        color: #fff;
        background-color: #b5a26f;
        border: 1px solid transparent;
        padding: 8px 30px;
        font-size: 20px;
        border-radius: 0.25rem;
        transition: background-color .5s;
}

span {
    font-size: 20px;
}

@media only screen and (max-width: 600px) {

    .content {
      margin-bottom: 100px;
      padding: 20px;
    }
  
    .container-products, .container-profile {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
      grid-auto-rows: minmax(200px, auto);
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .content-detail {
      display: flex;
      flex-direction: column-reverse;
      padding: 20px;  
    }
  
    .description {
      width: 100%;
      margin: 10px;
      padding: 20px;
    }
  
    .navigator {
        background-color: darkgray;
      }
    
      .navigator ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
      }
    
      .navigator li {
        display: block;
      }
      .navigator ul li:first-child {
        order: 1;
      }
    
      .nav-link {
        color: rgb(109 101 101);
        text-decoration: none;
        font-size: 16px;
        margin-bottom: 10px;
        margin-right: 0px;
      }
    
      .nav-link:hover {
        color: white;
      }
  
    .landing div {
      margin-top: 200px;
      margin-left: 20px;
      width: 280px;
    }
  
    .landing h1 {
      font-size: 50px;
    }
  
    .landing p {
      font-size: 16px;
    }
  
    .landing2 a {
      font-size: 50px;
      margin-left: 20px;
      margin-top: 200px;
    }
  
    .card-log {
      width: 90%;
      margin-top: 50px;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 50px;
    }
  
    .card-log h1 {
      font-size: 30px;
      margin-bottom: 10px;
    }
  
    .card-log h4 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    .footer-utilities {
    padding-left: 10px;
    padding-right: 10px;
    }
    .footer ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    .footer li {
    margin: 10px;
    font-size: 16px;
    }
    .footer-icons {
    margin: 20px;
    justify-content: center;
    }
    .footer-icons i {
    font-size: 28px;
    margin: 8px;
    }
    }
  

  @media only screen and (min-width: 601px) and (max-width: 1024px) {
  
    .container-products {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
      grid-auto-rows: minmax(250px, auto);
    }
  
    .description {
      width: 80%;
    }
  
    .landing div {
      margin-top: 250px;
      margin-left: 70px;
      width: 470px;
    }
  
    .landing h1 {
      font-size: 60px;
    }
  
    .landing p {
      font-size: 18px;
    }
  
    .landing2 a {
      font-size: 60px;
      margin-left: 70px;
      margin-top: 250px;
    }
  
    .card-log {
      width: 70%;
      margin-top: 70px;
      padding: 50px;
      margin-bottom: 70px;
    }
  
    .card-log h1 {
      font-size: 40px;
      margin-bottom: 20px;
    }
  
    .card-log h4 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .content-detail {
      display: flex;
      flex-direction: column-reverse;
      padding: 20px;  
  }
  
    .footer-utilities {
    padding-left: 10px;
    padding-right: 10px;
    }
    .footer ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    .footer li {
    margin: 10px;
    font-size: 16px;
    }
    .footer-icons {
    margin: 20px;
    justify-content: center;
    }
    .footer-icons i {
    font-size: 28px;
    margin: 8px;
    }
    .card-log button {
      font-size: 20px;
    }
  }