<i class="bi bi-house"></i>
Hello {{currentUser.firstName}}

<div class="d-flex ">
  {{> sidebar }}
  <section class="border border-bottom-0 border-top-0 w-100 p-4">

    <h1 id="descubre">Descubre....</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 id="guardados">Guardados</h1>
   
      {{#each currentUser.saves as |productSaved|}}

    {{> card product=productSaved currentUser=../currentUser}}
      {{else}}
      <p>No hay proyectos que mostrar</p>
      {{/each}}
   



    <h1 id="venta">En venta</h1>
    <br>
    <br>

    {{#each currentUser.products as |product|}}

    {{> card product=product currentUser=../currentUser}}

    {{else}}
    <p>No hay proyectos que mostrar</p>
    {{/each}}
    <br>
    <br>
    <h1 id="comprados">Comprados</h1>

    <ul>



    </ul>
  </section>
</div>