<i class="bi bi-house"></i>
Hello {{currentUser.firstName}}

<div class="d-flex ">
  {{> sidebar }}
  <section class="border border-bottom-0 border-top-0 w-100 p-4">

    <div>
      <h1 id="guardados">Guardados</h1>
    </div>

    <div class="container-profile">
      {{#each currentUser.saves as |productSaved|}}

      {{> card product=productSaved.product currentUser=../currentUser}}
      {{else}}
      <p>No hay proyectos que mostrar</p>
      {{/each}}

    </div>

    <div>
      <h1 id="venta">En venta</h1>
    </div>

    <div class="container-profile">

      {{#each currentUser.products as |product|}}

      {{> card product=product currentUser=../currentUser}}

      {{else}}
      <p>No hay proyectos que mostrar</p>
      {{/each}}

    </div>

    <div>
      <h1 id="comprados">Comprados</h1>
      {{#each currentUser.purchases as |productPurchased|}}

      {{> card product=productPurchased currentUser=../currentUser}}

      {{else}}
      <p>No hay proyectos que mostrar</p>
      {{/each}}
    </div>

    <div class="container-profile">
    </div>

  </section>
</div>