{{#if currentUser}}
  <h1 class="text-primary">Recomendados para tí</h1>
{{else}}
  <h1 class="text-primary">Encuentra tu proyecto</h1>
{{/if}}

<a href="/products/new-product"> Crea un proyecto </a>

<div class="container">
    
  {{#each products as |product|}}

    {{> card product=product currentUser=../currentUser}}


  {{else}}
    <p>No hay proyectos que mostrar</p>
  {{/each}}
</div>