<div class="content">
  <div class="content2">
    {{#if currentUser}}
    <h1 style="color: rgb(109 101 101)">Recomendados para tí</h1>
    {{else}}
    <h1 style="color:  rgb(109 101 101">Encuentra tu proyecto</h1>
    {{/if}}

    <a class="google-log" style="margin-top: 0px;" href="/products/new-product"> Crea un proyecto </a>
  </div>

  <div class="container-products">

    {{#each products as |product|}}

    {{> card product=product currentUser=../currentUser}}


    {{else}}
    <p>No hay proyectos que mostrar</p>
    {{/each}}
  </div>
</div>